<footer class="custom-footer pt-5 mt-auto">
  <div class="container">
    <div class="row">

      <div class="col-md-4 mb-4">
        <h5 class="footer-brand mb-3">
          <i class="fa-solid fa-feather-pointed me-2"></i>Nestify
        </h5>
        <p class="footer-text">
          Your trusted platform for discovering and listing properties with ease. Crafted for comfort and style.
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-white mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="footer-link">Home</a></li>
          <li><a href="/listing" class="footer-link">All Listings</a></li>
          <li><a href="/listing/new" class="footer-link">Add Listing</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-white mb-3">Connect</h5>
        <div class="social-icons">
          <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#" class="social-link"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>

    </div>

    <hr class="footer-divider">

    <div class="text-center footer-copyright pb-4">
      &copy; <%= new Date().getFullYear() %> Nestify &bull; All rights reserved
    </div>
  </div>
</footer>