<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/listing">
      <i class="fa-solid fa-feather-pointed brand-icon me-2"></i>
      <span class="brand-text">Nestify</span>
    </a>

    <!-- Mobile toggle -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listing">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listing/new">Nest your home</a>
        </li>
      </ul>

      <form class="d-flex mx-auto search-form" role="search" action="/listing/search" method="GET">
  
  <input 
    class="form-control search-input me-2"
    type="search"
    name="q"
    placeholder="Search destinations"
    required
  >

  <button class="btn btn-search" type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>

</form>

      <!-- Auth -->
      <div class="navbar-nav ms-auto align-items-center">

        <% if(!currUser){ %>

          <a class="nav-link fw-semibold px-3" href="/signup">
            Sign up
          </a>
          <a class="btn btn-rose rounded-pill px-4 ms-2" href="/login">
            Log in
          </a>
        <% } else { %>
          <div class="nav-item dropdown">
            <a 
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              role="button"
              data-bs-toggle="dropdown">
              <i class="fa-solid fa-circle-user fs-4"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-4">

              <li>
                <a class="dropdown-item" href="/listing/new">
                  Host your home
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item text-danger" href="/logout">
                  Log out
                </a>
              </li>
            </ul>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>